@import url(https://fonts.googleapis.com/css?family=Shrikhand:regular);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Arima:100,200,300,regular,500,600,700);
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Arima", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shrikhand", sans;
  letter-spacing: -0.02em;
  letter-spacing: -0.1rem;
}

.surface {
  background-color: var(--surface-1);
}
.surface2 {
  background-color: var(--surface-2);
}

button {
  font-weight: 600;
}

h3, button, a {

  font-family: 'Source Sans Pro', sans;
}

a:visited {
  color: inherit;
}

a {
 font-family: 'Source Sans Pro', sans;
}

p {
font-size: 12px;
}

li {
  margin-bottom: 0;
  padding-bottom: 0;
}

#product img {
  min-width: 45vw;
}

.hide-scrollbar {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hide-scrollbar::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}